:root {
  --primary-color: #d45428;
  --secondary-color: #fff8cc;
  --thirdty-color: #f4e9ad;
  --gradient-color: linear-gradient(140deg, #d45428 25%, #b87012 95%);
  --text-color-1: #000;
  --text-color-2: #fff;
  --shadow: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

::selection {
  background: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  font-size: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hamburger Menu */
.header-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  z-index: 20;
}

.header-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--text-color-1);
  border-radius: 3px;
  transition: all 0.5s;
}

.header-toggle input {
  display: block;
  position: absolute;
  background-color: var(--text-color-1);
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 30;
}

/* Hamburger Menu Animation */
.header-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.header-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

span:nth-child(2).slide {
  background-color: var(--text-color-1);
  transform: rotate(45deg) translate(-1px, -1px);
  z-index: 9999;
}

span:nth-child(4).slide {
  background-color: var(--text-color-1);
  transform: rotate(-45deg) translate(-1px, 0);
  z-index: 9999;
}

span:nth-child(3).slide {
  opacity: 0;
  transform: scale(0);
}

/* Hamburger End */

/* Button Start */
.button {
  display: inline-block;
  color: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 0.5rem 1.3rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

/* Button End */

/* Nav Header */
.header {
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 2px var(--shadow);
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0.8rem;
  grid-template-columns: 2fr 2fr 1fr;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.header.hide {
  transform: translateY(-100%);
}

.header .logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  border-radius: 50%;
  box-shadow: 1px 1px 2px var(--shadow);
}

.logo h2 a {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-left: 1rem;
}

.header-auth {
  justify-self: center;
  align-content: center;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-list a {
  padding: 0 0.8rem;
  font-size: 0.9rem;
  color: var(--text-color-1);
  transition: all 0.3s ease-in-out;
}

.header-list a:hover {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}

.header-list li a:active {
  font-size: 1rem;
  color: var(--primary-color);
}
/* Nav End */

/* Hero Start */
.hero-container {
  display: grid;
  padding: 1rem;
  margin: 0 70px;
  margin-top: 120px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.hero-text > * {
  margin-right: 3rem;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  line-height: 3rem;
  margin-bottom: 1rem;
}

.hero-text .hero-desc {
  margin-bottom: 1rem;
}

.hero-image {
  justify-self: end;
}

.hero-image img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 7px var(--shadow);
}

/* Stat Start */
.stat-section {
  background-image: var(--gradient-color);
  padding: 2rem 0;
  margin: 1rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-color-2);
}

.stat-box {
  padding: 0 2rem;
  text-align: center;
}

.stat-number {
  font-size: 3rem;
  font-weight: 800;
}

.stat-section .start {
  border-right: 1px solid white;
}
/* Stat End */

/* Prakata Start */

.prakata {
  display: grid;
  padding: 1rem;
  margin: 0 70px;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.prakata .hero-text h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.fahmi .hero-image {
  justify-self: start;
}

.fahmi .hero-text {
  text-align: end;
}
/* Prakata End */

/* Program Start */
h3.program-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
}

.program-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 70px;
  gap: 2rem;
  justify-content: center;
}

.program-card {
  box-shadow: 1px 1px 2px var(--shadow);
  border-radius: 10px;
  margin: 0 1rem;
  outline-color: transparent;
  outline-width: 1px;
  outline-style: solid;
  transition: all 0.3s ease;
}

.program-card:hover {
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
}

.program-icon {
  background-color: white;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border-radius: 10px 10px 0 0;
}

.program-desc {
  background-color: var(--primary-color);
  border-radius: 0 0 10px 10px;
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  text-align: center;
}

.program-desc h4 {
  color: var(--text-color-2);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.program-card p {
  font-size: 0.8rem;
}
/* Program End */

/* Test Start */

.test-container {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}
.test-title {
  text-align: center;
}

.test-title h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.test-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin: 50px 100px;
}
/* Test End */

/* Footer Start */
.bottom-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 70px;
  gap: 2rem;
}

.head-about {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.about .head-about img {
  width: 60px;
}

.about .head-about h3 {
  font-size: 2rem;
}

.left-bottom .about p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.left-bottom .social-media {
  display: flex;
  gap: 10px;
}

.left-bottom .social-media a {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.left-bottom .social-media a:hover {
  color: var(--text-color-1);
}

.right-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.right-bottom div h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.right-bottom div ul li {
  margin-bottom: 1rem;
}

.right-bottom div ul li a {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.right-bottom div ul li a:hover {
  color: var(--text-color-1);
}

/* Bottom Container End */

.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.footer a {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--text-color-1);
}
/* Footer End */

/* Responsive Break Points */
@media screen and (max-width: 1024px) {
  /* Nav */
  .header-list {
    display: inline;
  }

  .header-toggle {
    display: flex;
    position: fixed;
    right: 20px;
    top: 25px;
    z-index: 2000;
  }

  .header ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--text-color-1);
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    z-index: 99;
    opacity: 0;
    transition: all 1s;
  }

  .header ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .header-auth {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 99;
    position: absolute;
    top: 10px;
    transform: translate(0, -50%);
  }

  .header-auth.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .hero-text > * {
    margin-right: 0;
  }

  /* Nav End */

  /* Program Start */
  .program-container {
    grid-template-columns: 1fr 1fr;
  }
  /* Program End */

  /* Footer Start */
  .bottom-container {
    grid-template-columns: 1fr;
  }
  /* Footer End */

  .right-bottom {
    justify-items: start;
  }
}

@media screen and (max-width: 768px) {
  /* Nav Start */
  .header {
    order: -1;
    justify-items: end;
    grid-template-columns: 2fr 1fr;
  }

  .header-toggle {
    display: flex;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 200;
  }

  .header ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--secondary-color);
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s;
  }

  .header ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .header-auth {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 99;
    position: absolute;
    top: 10px;
    transform: translate(0, -50%);
  }

  .header-auth.slide {
    opacity: 1;
    transform: translateX(0);
  }

  /* Nav end */

  .hero-container {
    grid-template-columns: 1fr;
    margin: 0 15px;
    margin-top: 100px;
  }

  .hero-text h2 {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  /* Stat Start */
  .stat-section {
    padding: 1rem 0;
  }

  .stat-box {
    padding: 0 1rem;
    text-align: center;
  }

  .stat-number {
    font-size: 2rem;
    font-weight: 700;
  }
  /* Stat End*/

  /* Prakata Start */
  .prakata {
    grid-template-columns: 1fr;
    margin: 0 15px;
  }

  .prakata .hero-image {
    justify-self: center;
  }

  .fahmi .hero-text {
    text-align: start;
  }
  /* Prakata End */

  /* Program Start */
  .program-container {
    grid-template-columns: 1fr;
    margin: 2rem;
  }
  /* Program End */

  /* Test Start */
  .test-container {
    justify-items: center;
  }

  .test-gallery {
    justify-content: center;
    margin: 15px;
    margin-top: 2rem;
  }
  /* Test End */

  /* Footer Start */
  .bottom-container {
    margin: 2rem;
  }

  .right-bottom {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 2rem;
  }
  /* Footer End */
}

@media screen and (max-width: 576px) {
  .header {
    justify-items: stretch;
    grid-template-columns: 3fr 1fr;
  }

  .logo img {
    display: none;
  }

  .header-toggle {
    top: 25px;
  }

  .hero-text {
    text-align: center;
  }

  .fahmi .hero-text {
    text-align: center;
  }
}
