<aside id="bottom-container" class="bottom-container">
  <div class="left-bottom">
    <div class="about">
      <div class="head-about">
        <img src="image/logo-polos.png" alt="Logo Fahim Turast " />
        <h3>Fahim Turast</h3>
      </div>
      <p>
        Fahim Turast adalah platform edukasi yang fokus dalam bidang Ulum Lughah
        (Ilmu Bahasa) dan Ulum 'Aqliyah (Logika dan Pemikiran).
      </p>
    </div>
    <div class="social-media">
      <a href="https://instagram.com/fahimturast" target="_blank"
        ><i class="fa-brands fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.tiktok.com/@fahim_turast" target="_blank"
        ><i class="fa-brands fa-tiktok fa-2x"></i></a
      ><a
        href="https://api.whatsapp.com/send?phone=6281367749342"
        target="_blank"
        ><i class="fa-brands fa-whatsapp fa-2x"></i> </a
      ><a
        href="https://youtube.com/@fahimturast?si=8xs13NKLMfdlMkZg"
        target="_blank"
      >
        <i class="fa-brands fa-youtube fa-2x"></i> </a
      ><a href="https://shopee.co.id/maulanamaktabah" target="_blank"
        ><i class="fa-brands fa-shopify fa-2x"></i
      ></a>
    </div>
  </div>

  <div class="right-bottom">
    <div class="pages">
      <h4>Halaman</h4>
      <ul>
        <li>
          <a href="../tentang.html" target="_blank">
            <i class="fa-solid fa-file-lines"></i>Tentang</a
          >
        </li>
        <li>
          <a href="../kelas.html" target="_blank"
            ><i class="fa-solid fa-file-lines"></i>Kelas</a
          >
        </li>
        <li>
          <a href="https://linktr.ee/MaktabahDaurah" target="_blank"
            ><i class="fa-solid fa-file-lines"></i>Kitab</a
          >
        </li>
        <li>
          <a href="https://wa.me/+6281367749342" target="_blank">
            <i class="fa-solid fa-file-lines"></i>Kontak</a
          >
        </li>
      </ul>
    </div>
    <div class="category">
      <h4>Kategori</h4>
      <ul>
        <li>
          <a href="../kelas.html#nahwu-combo"
            ><i class="fa-solid fa-book"></i>Nahwu</a
          >
        </li>
        <li>
          <a href="../kelas.html#sharf-combo"
            ><i class="fa-solid fa-book"></i>Sharf</a
          >
        </li>
        <li>
          <a href="../kelas.html"><i class="fa-solid fa-book"></i>Balaghah</a>
        </li>
        <li>
          <a href="../kelas.html"><i class="fa-solid fa-book"></i>Mantiq</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
