<nav id="header" class="header">
  <div class="logo">
    <img
      src="image/logo.jpeg"
      width="60px"
      height="60px"
      alt="Logo Fahim Turast"
    />
    <h2><a href="index.html">Fahim Turast</a></h2>
  </div>
  <ul class="header-list">
    <li>
      <a href="index.html">Beranda</a>
    </li>
    <!-- <li class="kelas">
      <a href="#">Program ▾</a>
      <ul class="dropdown">
        <li><a href="kelas.html">• E-Course</a></li>
        <li>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeBclJnz6Mfn2DzsS2_44QqaNoKvnuhPcZrdTXVhFet1yOfeQ/viewform"
            >• Affiliate</a
          >
        </li>
        <li><a href="#programs">• Circle Belajar</a></li>
      </ul>
    </li> -->

    <li>
      <a href="tentang.html">Tentang</a>
    </li>
    <li>
      <a href="kelas.html">Daurah</a>
    </li>
    <li>
      <a href="https://blog.fahimturast.com">Blog</a>
    </li>
    <!-- 
    <li>
      <a href="kontak.html">Kontak</a>
    </li> -->
  </ul>

  <div class="header-auth">
    <a href="https://fahimturast.com/portal" class="btn-primary button"
      >Masuk</a
    >
    <a href="../kelas.html" class="btn-secondary button">Daftar</a>
  </div>
  <div class="header-toggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
